.section-body {
    font-size: 10pt;
}

.section-body svg, .section-body i{
    margin-left: 20px;
}

.section-body i {
    font-size: 24px;
}

.section-body span {
    margin-left: 10px;
}

.infos {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
